*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --pink-light: #C59DD2;
    --pink-base: #9547A5;
    --pink-dark: #7D298A;
    --pink-low: #3F0F41;

    --blue-light: #73B6D2;
    --blue-base: #358BB9;
    --blue-mid: #2374A4;
    --blue-dark: #144A72;
    --blue-low: #08233C;

    --shape-stroke: #002347;
    --shape-hover: #001933;
    --shape-base: #000F1F;
    --shape-background: #00050A;

    --text-title: #F8FBFB;
    --text-body: #E2E7E9;
    --text-label: #BAC6C9;

    --ff-base: 'Raleway', sans-serif;

    --title-lg: bold 3rem;
    --title-md: bold 2.5rem;
    --title-sm: bold 2rem;
    --title-xs: bold 1rem;

    --subtitle: 2rem/2;

    --body-lg: 1.25rem/1.4;
    --body-md: 1rem/1.4;
    --body-sm: .875rem/1.4;
    --body-xs: .75rem/1.4;

    --button: bold .875rem;
    --tag: bold .625rem uppercase;
}

html {
    font-family: 'Raleway', sans-serif;
    background: linear-gradient(180deg, #3f0f41 0%, #00050A 100%);

}

.hero-background {
    background: url(../assets/images/hero-background.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 59.25rem;
    width: 100%;
}

h1 {
    font: var(--title-lg) var(--ff-base);
    color: var(--text-title);
    margin-top: 6.75rem;
}