section.hero {
    width: 41rem;

    margin-inline: auto;
    text-align: center;

    & p {
        font: var(--body-lg) var(--ff-base);
        color: var(--text-body);
        margin-top: 2rem;
    }
}

.info {
    padding: 6rem 7.5rem 5rem 7.5rem;

    & div.info-image {
        display: flex;
        justify-content: space-between;
        width: 100%;

        img {
            margin: 0;

            &:nth-of-type(1) {
                transform: rotate(100deg);
                width: 5rem;
                height: 5rem;
                animation: text-appear linear backwards;
                animation-timeline: view();
                animation-range: 100px 150px;

                &:hover {
                    scale: 1.1;
                    transform: rotate(110deg);
                    transition: transform 1s;
                }
            }

            &:nth-of-type(2) {
                transform: rotate(-14.5deg);
                width: 4.5rem;
                height: 4.5rem;
                animation: text-appear linear backwards;
                animation-timeline: view();
                animation-range: 100px 150px;

                &:hover {
                    scale: 1.1;
                    transform: rotate(-24.5deg);
                    transition: transform 1s;
                }
            }
        }
    }

    >img {
        display: flex;

        margin-inline: auto;
        transform: rotate(20deg);
        width: 5.5rem;
        height: 5.5rem;
        animation: text-appear linear backwards;
        animation-timeline: view();
        animation-range: 100px 150px;

        &:hover {
            scale: 1.1;
            transform: rotate(30deg);
            transition: transform 1s;
        }
    }


    & span {
        color: var(--blue-light);
        font-weight: bold;
    }

    & p {
        font: var(--subtitle) var(--ff-base);
        color: var(--text-body);
        animation: text-appear linear backwards;
        animation-timeline: view();
        animation-range: 100px 150px;
    }
}

@keyframes text-appear {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
}